@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Roboto:wght@100;400&display=swap");
.row__title {
  margin: 30px 0px 0px 10px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.row__container {
  display: flex;
  padding: 20px 10px;
  height: auto;
  width: 100%;
  overflow-x: scroll;
}
.row__movies:hover {
  transform: scale(1.08);
}
.row__container::-webkit-scrollbar {
  display: none;
}
.row__movies {
  object-fit: contain;
  max-height: 150px;
  margin-right: 10px;
  transition: transform 450ms;
  cursor: pointer;
  margin-top: 10px;
}
